*{
    margin: 0;
    padding: 0;
}
body{
    background:#D6E4E5;
}
p{
    font-size: 18px;
}
/* slider start */
.banner{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 0;
}
.slider{
    height:410px;
    margin: auto;
}
.slider img{
    position: absolute;
    width: 100%;
    transition: 1s;
}
/* slider end */


.heading{
    background: #497174;
    width: 100%;
    overflow: hidden;
    color: #fff;
   
}


.container{
width: 60%;
margin: auto;
display: flex;
justify-content: space-between;
margin-bottom: 100px;

}

.box1, .box2{
margin-top: 70px;
width:45%;
overflow: hidden;
padding: 10px;
/* border: 2px solid black; */
}
.box1 p{
margin-top: 15px;
}

.box2{
width:30%;
margin-top: 110px;
margin-left: 68px;

}

.btn1{
padding: 10px;
background: #fff823fd;
text-decoration: none;
color:#000;
}

.btn2{

padding: 9px;
border: 2px solid #25d0ff;
text-decoration: none;
color:#000;
transition: 0.5s;
}
.btn2:hover{
background: #25d0ff;
}

/* second container */
.container-2{
margin: auto;
width: 80%;
overflow: hidden;
background: #497174;
color: #fff;
display: flex;
justify-content: space-between;
}

.cont-1{
padding: 10px;
width:30%;
}
.cont-1 h1{
margin: auto;
width:20%;
margin-bottom: 13px;
font-size: 50px;
font-weight: 150;
}
.cont-1 h3{
margin-bottom: 10px;
font-size: 20px;

}
.cont-1 p{
margin-bottom: 8px;
}
/* second container  end*/

.sign{

width:50%;
margin: auto;
margin-right: 10px;
padding: 10px;
font-size: 20px;
}


/* third container */
/* .container-3{
width:25%;
padding: 40px;
margin: auto;
}
.container-3 a{
text-decoration: none;
color:#fff;
padding: 10px;
}
/* location*/

.location{
    
    position: absolute;
    right:0;
    transform: translateY(-175px);
    width:400px;
    height:220px;
    transition: 1s;
    
    
}
#loc-btn{
    cursor: pointer;
}
.hide{
    display: none;
} */
/* types of food */
.type-of-item{
width:100%;
overflow: hidden;
padding: 20px 0;
}
.type-of-item h1{
display:inline-block ;
margin-left: 10%;
font-weight: 400;
padding: 20px;
}
.food-box{
width: 80%;
margin: auto;
overflow: hidden;
display: flex;
justify-content: space-between;
}
.food{
width:180px;
padding: 20px;
transition: 0.5s;

}

.food:hover{
    transform: translateY(-15px);
}

.food h2{
margin-top: 0;
text-align: center;
font-weight: 200;
cursor: pointer;
}
.food a{
    text-decoration: none;
    color: #111;
}
.food img{
border-radius: 50%;
width: 150px;
height: 150px;
cursor: pointer;
}


/*Feddback css start*/

.review{
    background-color: #497174;
     width: 100%;
}
.review h1{
    display: inline-block;
    width: 25%; 
    margin-left: 40%;
    padding: 10px;
    color: #fff;
    font-size: 36px;
    font-weight: 100;

}
.review p{
    text-align: center;
    padding-bottom: 13px;
    color: #fff;
    font-weight: 100;

}

.feedbak-contaner{
    width: 100%;
    margin-top: 40px;
    padding: 60px;
} 
.fedd-box{
    width:98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}   
    .feed-msg{
        /* margin-top: 70px;
        margin-left: 50px; */
        width: 32%;
        background-color: #EFF5F5;
        height:266px;
        padding: 0 20px;
        /* border: 4px solid #fff; */
        cursor: pointer;
        transition: 0.5s;
        border-radius: 10px;
        
      
    }



    .feed-msg img{
        transform: translate(140px,-55px);
        border-radius: 50%;
        border: 8px solid #fff;
        width: 130px;
        height: 130px;
      

    }
    .feed-msg p{
        transform: translateY(-55px);
        text-align: center;
        color: #000;
    }
    .feed-msg h2{
        transform: translateY(-60px);
        text-align: center;
        padding-bottom: 0;
        padding: 7px;
    }
    .name{
        border-top: 2px solid #000;
        font-weight: 100;
        color: #E96479;
    }
    .feed-msg:hover{
        transform: translateY(-15px);
          background:  #fff;
          color: #111;
        
    }
/*Feddback css end*/


/* chef css start */
#chef-box{
    width:100%;
    overflow: hidden;
    padding: 40px;
}

.our-chef{
width: 90%;
margin: auto;
display: flex;
justify-content: space-between;
} 
.chef{
width:20%;
background: #fff;
outline: none;
border: 4px solid #fff;

}
.chef img{
width:100%;
height:250px;
object-fit: cover;
outline: none;
display: inline-block;
margin: auto;

}
.chef h1{
margin: 0;
text-align: center;
font-weight: 100;
border-top: 2px solid #111;
padding: 5px;
color: #E96479;
}

/* chef css end */

/*Favourites dish*/
/* <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */
    #Fav-item{
        width:100%;
        margin-top: 60px;
        overflow: hidden;
        position: relative;
    }
    .fav{
        width:90%;
        margin: auto;
        /* border: 2px solid #111; */
        
    }
    .fav-heading{
        width:90%;
        display: flex;
        justify-content: space-between;
    }
    .fav-heading h1{
        font-size: 30px;
        padding: 20px;
        font-weight: 600;
        color:#3a3232;
        text-transform: uppercase;
    }
    .fav-heading h3{
        padding: 20px;
        margin-right: -150px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
    }
    .fav-heading h3 a{
        color: #EB6440;
        text-decoration: none;
    }
    .fav-food{
        display: flex;
        justify-content: space-between;
    }

    .special{
        width: 60%;
        margin-left: 5%;
    }
    .special-food{
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
.box-1{
    background: #fff;
    display: flex;
    justify-content: left;
    width:45%;
    padding: 20px;
    margin-bottom: 20px;
}
.menu-btn{
    margin: auto;
    padding: 8px 65px;
    font-size: 22px;
    font-weight: 600;
    font-family: serif;
    /* text-transform: uppercase; */
    float: right;
    border-radius: 23px;
    background: #EB6440;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}
.menu-btn a{
    text-decoration: none;
    color: #fff;

}


    .box{
    background: #fff;
    display: flex;
    justify-content: left;
    width:30%;
    padding: 20px;
    margin-bottom: 20px;
  
    }
    .box img, .box-1 img{
    height: 160px;
    width:150px;
    object-fit: cover;
    }
    .desctiption{
    padding-left: 20px;
    }
    .desctiption h1{
    font-size: 27px;
    font-weight: 300;
    color:#111;
    
    padding-bottom: 8px;
    }
    .desctiption p{
    padding-bottom:8px;
    font-size: 17px;
    
    }
    .desctiption h2{
    padding-bottom:12px;
    text-align: left;
    
    }
    .desctiption button{
    text-decoration: none;
    background: rgba(193, 191, 191, 0.872);
    color: #000;
    /* margin-top: 10px; */
    padding: 10px;
    border: 0;
    cursor: pointer;
    }
    
 /* Show product description*/   
 .show-item{
    position: absolute;
    width: 26%;
    height:450px;
    background: #fff;
    top:330px;
    right:5%;
}  
 .show-pd{
    /* display: flex; */
    position: relative;
    padding: 10px;
    /* justify-content: center; */
}
.show-pd img{
    /* border-radius: 50%; */
    height: 120px;
   width:120px;
  object-fit: cover;
}
.show-pd h1{
   position: absolute;
   top:30px;
   left:150px;
   font-size: 30px;
   font-weight: 600;
  
}
#close-1{
    position: absolute;
    top:0px; 
    left:90%;
    background: #777; 
    color: #fff; 
    border-radius: 50%; 
    padding: 0 5px;
    cursor: pointer;
}
.show-pd p{
    position: absolute;
    top:70px;
   left:150px;
   color: #777;
}
.name{
    text-decoration: none;
    border: 0;
    color: #111;
}

.show-pd ul{
    margin-top: 40px;
}
.show-pd ul li{
    list-style:none;
    font-size: 18px;
    padding: 10px;
    margin: auto;
}
.purchase{
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    margin-top: 60px;
    background: #EFF5F5;
    
}
.purchase a{
    text-decoration: none;
    font-size: 20px;
    background: #EB6440;
    padding: 30px 25px;
    color: #fff;
}
.purchase h2{
    padding: 30px;
}

.hide-details{
    display: none;
    transition: 0.5s;
}

